.our-team {
    background-color: var(--background-button-color);
    padding: 60px 0;

    @include tablet {
        padding: 60px 0;
    }

    @include desktop {
        padding: 94px 0;
    }

    &__presentation {
        background-color: var(--brand-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__presentation:not(:last-child) {
        margin-bottom: 30px;

        @include tablet {
            margin-bottom: 0;
        }

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 1.17;
        color: var(--second-black-color);
        text-align: center;
        margin-bottom: 30px;

        @include tablet {
            margin-bottom: 30px;
        }

        @include desktop {
            margin-bottom: 50px;
        }
    }

    &__item {
        display: block;

        @include tablet {
            display: grid;
            grid-template-columns: 354px 354px;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            flex-basis: calc((100% - 4 * 5px) / 2);
        }

        @include desktop {
            display: flex;
            gap: 30px;
            flex-basis: calc((100% - 8 * 5px) / 4);
        }
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: var(--second-black-color);
        text-align: center;
        margin-bottom: 10px;
    }

    &__card {
        padding-top: 30px;
        padding-bottom: 24px;

        @include tablet {
            padding-top: 30px;
            padding-bottom: 24px;
        }

        @include desktop {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__txt {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }

    &__web {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 16px;
    }
}

.social-link {
    width: 44px;
    height: 44px;
    color: var(--customer-border-color);
    background-color: var(--brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);

    &:hover,
    &:focus {
        color: var(--brand-color);
        background-color: var(--accent-color);
    }

    &__icon {
        fill: currentColor;
    }
}