/* Header */
header {
    border-bottom: 1px solid var(--header-line-color);
    position: relative;
}

.header-container {
    @include tablet {
        display: flex;
        align-items: center;
    }

    @include desktop {
        display: flex;
        align-items: center;
    }
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    @include tablet {
        font-size: 24px;
        line-height: 1.17;
    }

    @include desktop {
        display: flex;
        align-items: center;
    }
}

.logo__header {
    color: var(--prime-black-color);
}

.accent {
    color: var(--accent-color);
}